.wrapper {
  position: relative;
  margin-top: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .search_box {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper .search_box .dropdown {
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #000000;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown ul {
  position: relative;
  background: #fff;
  width: 350px;
  border-radius: 7px;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  list-style: none;
  columns: 3;
  z-index: 1000;
}

.dropdown ul li a {
  color: #000000;
}

.wrapper .search_box .dropdown ul.active {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.wrapper .search_box .dropdown ul li {
  padding-bottom: 10px;
}

.wrapper .search_box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li a:hover {
  color: #e72727;
}

.wrapper .search_box .dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #ef5050 transparent transparent transparent;
}

.wrapper .search_box .search_field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: #ef5050;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9fa3b1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #9fa3b1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #9fa3b1;
}

.keywords {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  right: 50%;
  margin-bottom: 5rem;
}

.ad img {
  width: 50%;
  height: 50%;
}

.btn {
  margin: 3rem 2rem;
  display: inline-block;
  padding: 1rem 3.2rem;
  font-size: 2rem;
  border-radius: 2rem;
  background: transparent;
  color: #ef5050;
  border: 2px solid #ef5050;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: #ef5050;
  color: white;
}

.container {
  margin-top: 75px;
  display: inline-block;
  text-align: center;
}

.blog-post {
  width: 100%;
  width: 475px;
  height: 210px;
  padding: 1.75rem;
  background-color: #dbf4ff21;
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  border-radius: 0.8rem;
  margin: 10px;
}

.blog-post img {
  width: 125px;
  height: auto;
  border-radius: 0.8rem;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post_info {
  width: 275px;
  float: right;
}

.blog-post_date {
  display: block;
  color: #00000080;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.blog-post_title {
  font-size: 2.25rem;
  margin: 1.25rem 1.25rem;
  text-transform: uppercase;
  color: #ff3c2e;
}

.blog-post_text {
  text-align: left;
  margin-bottom: 2.75rem;
  margin-right: 2rem;
  font-size: 1.85rem;
  font-weight: bolder;
  color: #000000b3;
}

.blog-post_cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.8rem;
  background: linear-gradient(to right, #cf9845 0%, #bd0404 100%);
}

.blog-post_cta:hover {
  background: linear-gradient(to right, #04a6bd 0%, #c945cf 100%);
}

@media (max-width: 999px) {
  .blog-post {
    width: 100%;
    width: 400px;
    height: 210px;
    padding: 1.75rem;
    background-color: #dbf4ff21;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    border-radius: 0.8rem;
    margin: 10px;
  }

  .blog-post img {
    width: 125px;
    height: auto;
    border-radius: 0.8rem;
    position: relative;
    float: left;
  }

  .blog-post_info {
    width: 200px;
    float: right;
  }

  .blog-post_date {
    display: block;
    color: #00000080;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .blog-post_title {
    font-size: 2rem;
    margin: 1rem 0 1rem;
    text-transform: uppercase;
    color: #fe5b4f;
  }
}

@media (max-width: 850px) {
  .blog-post {
    width: 100%;
    width: 350px;
    height: 175px;
    padding: 1.75rem;
    background-color: #dbf4ff21;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    border-radius: 0.8rem;
    margin: 10px;
  }

  .blog-post img {
    width: 90px;
    height: auto;
    border-radius: 0.8rem;
    position: relative;
    float: left;
  }

  .blog-post_info {
    width: 200px;
    float: right;
  }

  .blog-post_date {
    display: block;
    color: #00000080;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .blog-post_title {
    font-size: 1.75rem;
    margin: 0.75rem 0 0.75rem;
    text-transform: uppercase;
    color: #fe5b4f;
  }

  .blog-post_text {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000000b3;
  }
}

@media (max-width: 750px) {
  .blog-post {
    width: 100%;
    width: 300px;
    height: 135px;
    padding: 1.75rem;
    background-color: #dbf4ff21;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: relative;
    border-radius: 0.8rem;
    margin: 10px;
  }

  .blog-post img {
    width: 80px;
    height: auto;
    border-radius: 0.8rem;
    position: relative;
    float: left;
  }

  .blog-post_info {
    width: 175px;
    float: right;
  }

  .blog-post_text {
    text-align: left;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000000b3;
  }
  .blog-post_title {
    font-size: 1.75rem;
    margin: 0.25rem 0.25rem;
    text-transform: uppercase;
    color: #fe5b4f;
    padding-bottom: 0.35em;
  }
}

@media (max-width: 650px) {
  .wrapper {
    position: relative;
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper .search_box {
    width: 350px;
    background: #fff;
    border-radius: 5px;
    height: 45px;
    display: flex;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .wrapper .search_box .dropdown {
    width: 140px;
    border-right: 2px solid #dde2f1;
    color: #000000;
    position: relative;
    cursor: pointer;
  }

  .wrapper .search_box .dropdown .default_option {
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 12px;
  }

  .default_option {
    width: 125px;
    padding-bottom: 2rem;
    transform: translateY(-5px);
  }

  .dropdown:before {
    transform: translateY(-5px);
  }

  .wrapper .search_box .dropdown ul {
    position: relative;
    background: #fff;
    width: 275px;
    border-radius: 7px;
    padding: 15px;
    font-size: 12px;
    font-weight: 400;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    list-style: none;
    columns: 3;
  }

  .wrapper .search_box .dropdown ul.active {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
  }

  .wrapper .search_box .dropdown ul li {
    padding-bottom: 10px;
  }

  .wrapper .search_box .search_field .input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
  }

  .wrapper .search_box .search_field .fas {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #ef5050;
    cursor: pointer;
  }

  .wrapper .search_box .dropdown:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 20px;
    border: 6px solid;
    border-color: #ef5050 transparent transparent transparent;
  }

  .search_field {
    width: 300px;
    height: 100%;
    position: relative;
  }

  .btn {
    margin: 2rem 1.5rem;
    display: inline-block;
    padding: 0.75rem 1.8rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    background: transparent;
    color: #ef5050;
    border: 1.5px solid #ef5050;
    cursor: pointer;
    font-weight: 600;
  }
}

@media (max-width: 365px) {
  .wrapper .search_box {
    width: 280px;
    background: #fff;
    border-radius: 5px;
    height: 45px;
    display: flex;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .wrapper .search_box .dropdown {
    width: 140px;
    border-right: 2px solid #dde2f1;
    color: #000000;
    position: relative;
    cursor: pointer;
  }

  .blog-post_info {
    width: 150px;
  }

  .blog-post_text {
    text-align: left;
    margin-bottom: 1.25rem;
    font-size: 1.35rem;
    font-weight: bolder;
    color: #000000b3;
  }

  .btn {
    margin: 1.75rem 1.25rem;
    display: inline-block;
    padding: 0.5rem 1.3rem;
    font-size: 1.2rem;
    border-radius: 1.25rem;
    background: transparent;
    color: #ef5050;
    border: 1.25px solid #ef5050;
    cursor: pointer;
    font-weight: 600;
  }
}

@media (max-width: 300px) {
  .wrapper .search_box {
    margin-left: 20px;
  }
}

@media (max-width: 260px) {
  .wrapper .search_box {
    margin-left: 40px;
  }
}

@media (max-width: 240) {
  .wrapper .search_box {
    margin-left: 60px;
  }
}

@media (max-width: 220px) {
  .wrapper .search_box {
    margin-left: 80px;
  }
}
